header-component {
  display: flex;
  background-image: url('../../assets/img/header-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  border-radius: 0 0 30px 30px;

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    padding: 0 150px;

    .header-title {
      font-weight: 800;
      font-size: 48px;
      cursor: default;
      color: #fff;
    }

    .profile {
      background-image: url('../../assets/img/profile.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: transparent;
      border: none;
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: 1s;
    }

    .profile:hover {
      background-image: url('../../assets/img/profile-two.svg');
      transition: 1s;
    }

    .active {
      background-image: url('../../assets/img/profile-two.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: transparent;
      border: none;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
}
