@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

header-component {
  display: flex;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  color: #eeeeee;
  font-family: 'Dosis', sans-serif;
}

.header-title {
  font-weight: 800;
  font-size: 48px;
  cursor: default;
}

svg {
  fill: #fff;
  transition: 1s ease-in-out;
  cursor: pointer;
}

svg:hover {
  fill: #6c6c6c;
  transition: 1s ease-in-out;
}
