.card-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;

    .card {
        display: flex;
        width: 350px;
        height: 200px;
        flex-direction: row;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        box-shadow: 0px 0px 70px -25px #fdc25a;
        cursor: pointer;

        .card-container-img {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 30px;
            transition: linear 0.5s;

            .card-title {
                font-size: 30px;
            }

            .card-img {
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                width: 51px;
                height: 51px;
                position: absolute;
                top: 15px;
                left: 15px;
            }

        }

        .card-container-img:hover {
            background-color: #e9e9e9;
            box-shadow: 0px 0px 70px -25px #dba548;;
            transition: linear 0.5s;
        }

        .card:last-child {
            margin-bottom: 0;
        }

        .today {
            background-image: url('../../assets/img/card-list.svg');
        }

        .tomorrow {
            background-image: url('../../assets/img/card-calendar.svg');
        }

        .important {
            background-image: url('../../assets/img/card-important.svg');
        }
    }
}