<div class="card-wrapper">
    <div class="card">
        <div class="card-container-img">
            <p class="card-title">Today</p>
            <div class="card-img today"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-container-img">
            <p class="card-title">Tomorrow</p>
            <div class="card-img tomorrow"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-container-img">
            <p class="card-title">Important</p>
            <div class="card-img important"></div>
        </div>
    </div>
</div>