.wrapper {
  display: flex;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: row;
  padding: 0 150px;
}

.input-list {
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  width: 300px;
  color: #fff;
  font-size: 25px;
  line-height: 20px;
  height: 40px;
  padding: 0;
}

.plus {
  background-image: url('../../assets/plus.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 47px;
  height: 41px;
  cursor: pointer;
  transition: 1s;
}

.plus:hover {
  transition: 1s;
  opacity: .6;
}
