signup-component {
  display: flex;
  background-color: #1e1e1e;
  width: 345px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  transform: translateX(50%);
  animation: ani 1s forwards;
}

.hidden {
  display: none;
}

@keyframes ani {
  0% {transform: translateX(50%);}
  100% {transform: translateX(0);}
}

.title-up {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 15px;
  cursor: default;
}

.container-up {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
}

.input-up {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 20px;
  color: #fff;
}

.input-up:first-child {
  margin-bottom: 15px;
}

.input-up:last-child {
  margin-top: 15px;
}

.change-up {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  cursor: default;
}

span {
  font-weight: 800;
  padding-top: 5px;
  color: #ff6c6c;
  cursor: pointer;
  transition: 1s;
}

span:hover {
  color: #ff3939;
  transition: 1s;
}
